;; Copyright (c) DINUM, Bastien Guerry
;; SPDX-License-Identifier: EPL-2.0
;; License-Filename: EPL-2.0.txt

{:src   "src/codegouvfr"
 :tasks {clean
         (shell "bash -c"
                "rm -rf awesome*md *json *xml *csv *yml src/*json src/*xml src/*csv src/*yml src/*md")}}
